[flake8]
# Виключити певні каталоги і файли
exclude = .venv, .git, __pycache__, */migrations/*, */static/*,old,
    build,
    dist

# Максимальна довжина рядка
max-line-length = 120

# Не видавати попередження для відсутності документації в класах та функціях
ignore = D100, D101, D102, D103, D104, D105, D106 , E266

# Виключити деякі загальні помилки
extend-ignore = E203, E231, E501, W503, F401, F403

# Встановити правило для кількості відступів
indent-size = 4