{% extends "myproject1/base.html" %}
{% load static %}
{% block title %}Product List{% endblock %}
{% block link %}
                        

<a class="nav-link" href="{% url 'data:admin_panel' %}">Admin Panel</a>


{% endblock  %}
{% block content %}
    <!-- Ваш контент для цього шаблону -->
    
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Price</th>
                    <th>Quantity</th>
                </tr>
            </thead>
            <tbody>
                {% for product in products %}
                <tr>
                    <td>{{ product.name }}</td>
                    <td>{{ product.description }}</td>
                    <td>{{ product.price }}</td>
                    <td>{{ product.quantity }}</td>
                    {% if product.image %}
                    <img
                        src="{{ product.image.url }}"
                        alt="{{ product.name }}"
                        width="100"
                    />
                    {% endif %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
   
{% endblock %}
